.App {
  text-align: center;

}
*{
  font-family:'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home Page CSS */
#logout2{
  background-color: lightpink;
  border: none;
}
#navbar h1{
  color: white;
  text-decoration: none!important;

}
#navbar h4 {
  color: white;

}
#navbar{
  background-color: crimson;
  text-decoration: none;

}

.navbarlink{
  text-decoration: none;
}

#home-background{
background-color: crimson;
}
#home-headwriting{
text-align: center;
margin-bottom: 70px;
}

#allsteps{
  display: flex;
  justify-content: space-evenly;
}

#getstarted{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding: 15px 15px 15px 15px;
  border-radius: 10%;
  background-color:lightpink;
  font-size: large;
}

#image{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("Images/home-background.jpeg");
  height: 700px;
  width: 1440px;
  padding-top: 100px;
  text-align: center;
}

.homepara{
  line-height: 10px;
}

.reviews{

  border: 1px solid black;
  color: white;
  background-color: darkred;
  margin-right: 650px;
  margin-left: 50px;
  font-style: italic;
  font-size: large;

}












 /* About us */

#aboutus-background{
  background-color: lightpink;
}
#navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#navbar button{
  height: 30px;
  width: 65px;
  border-radius: 12px;

}

#home-background{
  padding-bottom: 200px;
}

.rightarrows{
  height: 80px;
  width: 80px;
}

#meet-the-team{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#aboutus-image{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black ;
}

#difference{
  text-align: center;
  border: 1px solid black ;
  padding-bottom: 150px;
}

#gsbutton{
  border-radius: 12px;
  background-color:lightpink
}

#points{
  display: flex;
  justify-content: space-evenly;
}

.pointbox{
  width: 250px;
}

.pointicons{
  width: 55px;
  height: 55px;

}
 /*How it works*/

 #part1{
  width: 50%;
 }

 #howitworkss{
  background-color: lightpink;
  display: flex;
  height: 90vh;
 }


.stepimages{
  width:50px;
  height:50px;
  /* margin-left: 900px; */
 
}

#firststudentstep{
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px dotted black;
 
}
#secondstudentstep{
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px dotted black;
}
#thirdstudentstep{
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px dotted black;
}

#hiwSteps{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  gap: 15%;
}

#allone{
  display: flex;
  gap: 10px;
}

#alltwo{
  display: flex;
  gap: 10px;

}

#allthree{
  display: flex;
  gap: 10px;

}


/* Newsletter styling */
#response{
  width: 200px;
  height: 75px;
}

#blogform{
  text-align: center;
  background-color: lightpink;
  height: 100vh;



}
.blogpost{
  display: flex;
  width: 100%;
  justify-content: center;
  
}

#blogresponsepage{
  width: 33%;
  border: 1px solid black;


}
#blogresponse{
  border: 1px solid black;
  margin-right:10%;
  margin-left:10%;
}
/* Blog stylinf*/

#author{
  text-align: right;
  font-size: small;
  padding-right: 5px;

}
#timestamp{
  text-align: right;
  font-size: small;
  padding-right: 5px;
}
#responsetitle{
font-size: 12px;
}
#nameandtime{
  font-size: 10px;
  text-align: right;
  padding-right: 2px;


}
#bywho{
  font-size: 10px;
  text-align: right;
  padding-right: 2px;
}


table{
  width: 100%;
  
}
td{
  width: 33%;
  justify-content: center;
}

#newsButton{
  font-size: larger;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px ;
  border-radius: 10px;
  border: none;



  background-color: #5974b7;

}

.newsInput{
border-radius: 5px;
min-width: 40% ;
border: none;

}
#aroundInput{
  border: 1px solid red;
  padding-top: 20px;
  padding-bottom: 20px;

}
/* #formInput{
  border: 1px solid red;
} */
#secInput{
  background-color: khaki;
  border: 1px solid black;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 30px;
}



/* Login page */ 

#login{
  background-color: lightpink;
  border: none;

}
#signupB{
  background-color: lightpink;
  border: none;

}
#loginboxes{
  width: 50%;
  text-align: center;
  background-color: lightpink;

}
#loginimage{
  width: 50%;
  background-image: url("Images/login.jpeg");
  background-size: cover;

  

}
#loginimagee{
  height:705px;
}
#second{
  margin-top: 34%;
  margin-bottom: 34%;
}

#loginpage{
  display: flex;
  align-items: center;


}

/* User profile*/
#userinfo{
  padding-left: 20px;
  padding-bottom: 20px;
}

/*  */

/* .namebox h2{
  border: 1px solid black;
  
} */

.boxS{
  border: 1px solid green; 

}

#hourslog{
  visibility: hidden;
}

table{
  display: table;
  border-collapse:collapse;
  border:1px solid #FF0000;
  
}
  
th{
  width: 33%;
  border:1px solid black;
  
}

/* tr{
  width: 100%;
  border:1px solid #FF0000;
  
}  */

td{
  text-align: center;
  width: 33%;
  border: 1px solid black;
} 